<div class="row">
<% @restaurants.each do |restaurant| %>
  <div class="col-xs-6 col-md-3">
    <a href="<%= link_to "Sign up", new_user_registration_path %>" class="thumbnail">
        <%= restaurant.name %>
        <img src="<%= restaurant.photo %>" alt="">
    </a>
  </div>
 <% end %>
</div>