<div class="row">
<% @restaurants.each do |restaurant| %>
  <div class="col-xs-6 col-md-3">
        <%= restaurant.name %>
        <a href="<%= user_session_path %>"><img src="<%= restaurant.photo %>"></a>
    </a>
  </div>
 <% end %>
</div>