<!DOCTYPE html>
<html>
<head>
  <title>HipRest</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css'>

<!-- ERB
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
 -->


<!-- BOOTSTRAP links, FOR MOCKUPS ONLY -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<!-- START GUEST TEMPLATE -->
 

<div class="jumbotron">
  <div class="container">
    <h1>HipRest</h1>
    <p>trendy description here</p>
    <p>AUSTIN</p>
  </div>
</div>


<div class="row">
  <div class="col-xs-4 col-md-4">
      <a href="" class="thumbnail">
        <img src="images/Restaurants/BlueDahlia.jpg" alt="">
      </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/Garbos.jpg" alt="">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/KerbeyLane-old.jpg" alt="">
    </a>
  </div>
</div>


<div class="row">
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/Magnolia.jpg" alt="">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/PacosTacos.jpg" alt="">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/Rubys_AustinBBQ.jpg" alt="">
    </a>
  </div>
</div>


<div class="row">
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/BlueDahlia.jpg" alt="">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/BlueDahlia.jpg" alt="">
    </a>
  </div>
    <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail">
      <img src="images/Restaurants/BlueDahlia.jpg" alt="">
    </a>
  </div>
</div>






<!-- ERB 
<%# if notice %>
  <p class="alert alert-success"><%= notice %></p>
<%# end %>
<%# if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<%# end %>


<%#= yield %>
-->
</body>
</html>